<!DOCTYPE html>
<html lang='en'>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Kitchen Recipes</title>
<link rel="stylesheet" type = "text/css" href="/stylesheets/style.css">
</head>
<body>
<% include ./partials/header.ejs %>
<% include ./partials/user-navigation.ejs %>
<main>
<div>
  <br><br>
  <p>Welcome to the Kitchen Recipes Site.<br> We have the delicious Indian cuisine food recipes which are really easy to cook and takes no time.<br>
    Check out Category section to view the various main dishes and snacks. Happy Cooking!!
  </p>
  <br><br>
</div>
</main>
<% include ./partials/site-navigation.ejs %>
<% include ./partials/footer.ejs %>
</body>
</html>
